/* || Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --grey: #949494;
  --white: #fff;
  --blue-700: #36384d;
  --blue-800: #242742;
  --red: #ff6155;
  --error-bg: #ffcfcb;
  --gradient-4: linear-gradient(#ff6a3a, #ff527b);
  --text-preset-1-fs: 3.5rem;
  --text-preset-1-fw: 700;
  --text-preset-1-mob-fs: 2.5rem;
  --text-preset-1-mob-fw: 700;
  --text-preset-2-bold-fs: 1rem;
  --text-preset-2-bold-fw: 700;
  --text-preset-2-bold-lh: 150%;
  --text-preset-2-reg-fs: 1rem;
  --text-preset-2-reg-fw: 400;
  --text-preset-2-reg-lh: 150%;
  --text-preset-3-fs: 0.75rem;
  --text-preset-3-fw: 700;
  --text-preset-3-lh: 150%;
}

/* || Main Styles */

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.card {
  background-color: #fff;
  position: relative;
}

.img-container {
  background-image: url(./assets/images/illustration-sign-up-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 20.5rem;
  margin-block-end: 2.5rem;
  width: 100%;
}

.text-form-container {
  padding: 0 2.5rem;
}

h1,
.main-text,
label {
  color: var(--blue-800);
}

h1 {
  font-size: var(--text-preset-1-mob-fs);
  font-weight: var(--text-preset-1-mob-fw);
  margin-block-end: 1.5rem;
}

.main-text {
  font-size: var(--text-preset-2-reg-fs);
  font-weight: var(--text-preset-2-reg-fw);
  line-height: var(--text-preset-2-reg-lh);
  margin-block-end: 1.5rem;
}

.custom-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block-end: 2.5rem;
}

.list-item-wrapper {
  display: flex;
  gap: 1rem;
}

.list-item-text {
  font-size: var(--text-preset-2-reg-fs);
  font-weight: var(--text-preset-2-reg-fw);
  line-height: var(--text-preset-2-reg-lh);
}

form {
  display: flex;
  flex-direction: column;
}

.label-error {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-block-end: 0.5rem;
}

label {
  font-size: var(--text-preset-3-fs);
  font-weight: var(--text-preset-3-fw);
  list-style: var(--text-preset-3-lh);
}

input {
  border: 0.1rem solid var(--blue-800);
  border-radius: 0.5rem;
  color: var(--blue-800);
  font-size: var(--text-preset-2-reg-fs);
  font-weight: var(--text-preset-2-reg-fw);
  line-height: var(--text-preset-2-reg-lh);
  margin-block-end: 1.5rem;
  padding: 1rem 1.5rem;
}

input:focus {
  outline-color: var(--blue-800);
}

.input-valid {
  background-color: #fff;
  border: 0.1rem solid var(--blue-800);
  color: var(--blue-800);
}

.input-invalid {
  background-color: var(--error-bg);
  border-color: var(--red);
  color: var(--red);
}

button {
  color: #fff;
  cursor: pointer;
  background-color: var(--blue-800);
  border-radius: 0.5rem;
  border: none;
  font-size: var(--text-preset-2-bold-fs);
  font-weight: var(--text-preset-2-bold-fw);
  line-height: var(--text-preset-2-bold-lh);
  padding: 1rem 3rem;
}

button:hover {
  background: linear-gradient(#ff6a3a, #ff527b);
}

.error-message {
  color: var(--red);
  font-size: var(--text-preset-3-fs);
  font-weight: var(--text-preset-3-fw);
  list-style: var(--text-preset-3-lh);
}

.success-screen {
  background-color: #fff;
  display: none;
  align-items: center;
  top: 0;
  height: 100vh;
  padding: 2rem;
}

.success-message {
  display: flex;
  height: 38.9375rem;
  flex-direction: column;
  justify-content: space-between;
}

.success-img,
h2 {
  margin-block-end: 2rem;
}

h2 {
  color: var(--blue-800);
  font-size: var(--text-preset-1-mob-fs);
  font-weight: var(--text-preset-1-mob-fw);
}

.success-text {
  color: var(--blue-800);
  font-size: var(--text-preset-2-reg-fs);
  font-weight: var(--text-preset-2-reg-fw);
  line-height: var(--text-preset-2-reg-lh);
}

.success-screen-visible {
  display: flex;
  z-index: 99;
}

.hide-form {
  display: none !important;
}

@media screen and (min-width: 51.25rem) {
  body {
    align-items: center;
    background-color: var(--blue-700);
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  .card {
    border-radius: 2.25rem;
    padding: 2.5rem;
    width: 38rem;
  }

  .img-container {
    background-image: url(./assets/images/illustration-sign-up-tablet.svg);
    border-radius: 1rem;
    height: 22.3931rem;
  }

  .text-form-container {
    padding: 0;
  }

  h1 {
    font-size: var(--text-preset-1-fs);
    font-weight: var(--text-preset-1-fw);
  }

  .success-screen {
    border-radius: 2.25rem;
    padding: 2.5rem;
    height: 32.5rem;
    width: 31.5rem;
  }

  .success-message {
    height: auto;
  }

  .success-text {
    margin-block-end: 2rem;
  }
}

@media screen and (min-width: 90rem) {
  .card {
    display: flex;
    flex-direction: row-reverse;
    gap: 4rem;
    padding: 2rem;
    height: 40.0625rem;
    width: 56.5rem;
  }

  .img-container {
    background-image: url(./assets/images/illustration-sign-up-desktop.svg);
    height: 100%;
    width: 25rem;
  }

  h1,
  .main-text,
  .custom-list {
    margin-block-end: 2rem;
  }

  .success-screen {
    border-radius: 2.25rem;
    padding: 2.5rem;
    height: 32.5rem;
    width: 31.5rem;
  }

  .success-message {
    height: auto;
  }

  .success-text {
    margin-block-end: 2rem;
  }
}
